.container {
    max-width: 600px;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.button:hover {
    opacity: 0.8;
}

.delete-confirmation {
    background: var(--red) !important; /* This will take priority over other styles */
}


.cancel-button {
    background: #d1d5db; /* Tailwind's gray-300 */
}

.hover\:bg-red-600:hover {
    background: var(--red_dark); /* Tailwind's red-700 */
}

.hover\:bg-gray-400:hover {
    background: #9ca3af; /* Tailwind's gray-400 */
}
