/* General Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

th {
  background: var(--background); /* Retain dark blue for headers */
  color: var(--primary-text-color);
  font-weight: bold;
}

td {
  background: transparent !important; /* Override to ensure transparent background */
}

tr:nth-child(even) {
  background: var(--tr-bg-color-1);
  color: var(--tg-txt-color-1);
}

tr:nth-child(even):hover {
  background: var(--tr-bg-color-1-hover);
  color: var(--tg-txt-color-1-hover);
}

tr:nth-child(odd) {
  background: var(--tr-bg-color-2);
  color: var(--tg-txt-color-2);
}

tr:nth-child(odd):hover {
  background: var(--tr-bg-color-2-hover);
  color: var(--tg-txt-color-2-hover);
}

tr.needs-attention {
  background: var(--yellow-dark);
  color: var(--black);
}

tr.needs-attention:hover {
  background: var(--yellow-darker);
}

/* Responsive Table Styles */
@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  th, td {
    display: block;
    width: 100%;
  }
  td {
    text-align: right;
    border-bottom: 1px solid var(--border-color);
  }
  tr {
    display: block;
    margin-bottom: 10px;
  }
  td::before {
    content: attr(data-label); /* Display labels for mobile view */
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
}

/* Table Container */
.table-container {
  margin-top: 2rem;
  background: var(--container-background);
  border-radius: 8px;
  box-shadow: 0 4px 20px var(--box-shadow-color);
  padding: 20px;
  overflow: hidden;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

/* Table Title */
#tabletitle {
  color: var(--admin-section-text-color);
  padding: 1.5rem;
  background: var(--admin-section-title-color);
  text-align: center;
  margin: 2rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--box-shadow-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  word-break: break-all;
  font-weight: 900;
}
