{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>{{ _('Kirjaudu sisään') }}</h1>
    <form method="POST">
        <div class="form-group">
            <label for="username">{{ _('Käyttäjänimi') }}</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">{{ _('Salasana') }}</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">{{ _('Kirjaudu sisään') }}</button>
    </form>

    <!-- Forgot your password link -->
    <div class="form-group">
        <p class="forgot-password">
            <a href="{{ url_for('users.auth.password_reset_request') }}">{{ _('Unohtuiko salasana?') }}</a>
        </p>
    </div>

    <!-- Register link -->
    <div class="form-group">
        <p class="register-link">
            <a href="{{ url_for('users.auth.register') }}">{{ _('Rekisteröidy') }}</a>
        </p>
    </div>
</div>
{% endblock %}
