__pycache__/
*.py[cod]
*$py.class
config.yaml
.venv/
*/uploads/*
temps/*
venv/
.env
# all .env files
*.env
mielenosoitukset_fi/scripts/.env
posted_events.txt
mielenosoitukset_fi/scripts/posted_events.txt

