APScheduler==3.10.4
boto3==1.35.54
botocore==1.35.64
Flask==3.0.3
flask_babel==4.0.0
Flask_Login==0.6.3
Jinja2==3.1.4
Pillow==11.0.0
PyJWT
pymongo==4.10.1
python_dateutil==2.8.2
PyYAML
Requests==2.32.3
Werkzeug==3.1.2
