{% macro render_past_demo_modal(demo) %}


 <!-- Past Demonstration Modal -->
<div class="modal fade" id="past-demo-modal" tabindex="-1" aria-labelledby="pastDemoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pastDemoModalLabel">{{ _('Huomio') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ _('HUOM! Tämä mielenosoitus on jo päättynyt.') }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ _('Sulje') }}
        </button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}