/* Align the action cell header to center */
.actions-cell-header {
    text-align: center;
}

.actions-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: right; /* Align buttons to the right side */
    padding: 10px;
    width: fit-content;
}

/* Styling for action buttons */
.button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    width: 100px; /* Ensure buttons have equal width */
    display: block;
    margin-left: 5px; /* Slight gap between buttons */
    margin-top: 3px;
}

.button:first-child {
    margin-top: 0; /* Remove the margin on the first button */
}

.edit-button {
    background-color: var(--focus-color);
}

.delete-button {
    background-color: var(--red) !important;
}

.delete-button:hover {
    background-color: var(--dark-red) !important;
}
