@import url("admin_actions_cell.css");


/* Container for the entire organization table */
.organization-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Table header styling */
.organization-table-header {
    display: table-row;
    font-weight: bold;
    background-color: #f4f4f4;
    text-align: left;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

/* Table row styling */
.organization-table-row {
    display: table-row;
}

.organization-table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.delete-form {
    display: inline;
}

/* Styling for create organization button */
.create-organization-button {
    padding: 10px 20px;
    background-color: var(--highlight-color-orange);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.create-organization-button:hover {
    background-color: var(--error-color);
}

/* No organizations message styling */
.no-organizations .table-cell {
    text-align: center;
    font-style: italic;
    color: #666;
    padding: 20px;
    border: 1px solid #ddd;
}
