@import url("admin_actions_cell.css");


/* Form Styles */

.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input, .filter-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Table Styles */
.demo-table {
    width: 100%;
    border-collapse: collapse;
}

.demo-table-header,
.demo-table-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #ddd;
}

.table-cell {
    padding: 10px;
    border: 1px solid #ddd;
}