.light:root {
  /* Primary Colors */
  --primary-color: #0033a0;
  --secondary-color: #f0f0f0;

  /* Christmas Colors */
  --chrismast-primary: #ff0000; /* Red */
  --chrismast-secondary: #00ff00; /* Green */
  --chrismast-accent: #ffff00; /* Yellow for festive accents */

  --primary-text-color: #333;
  --secondary-text-color: #666;

  /* Background Colors */
  --background: #ffffff; /* Main background color */
  --background-light: #f0f0f0; /* Light background for containers */
  --input-background: #f9f9f9; /* Input field background */
  --hover-bg-color: #e0e0e0; /* Hover background color */
  --container-background: #f9f9f9; /* Light gray for container background */

  /* Borders and Shadows */
  --border-color: #ddd; /* Border color */
  --box-shadow-color: rgba(0, 0, 0, 0.15); /* Box shadow color */
  --box-shadow: 0 0 20px var(--box-shadow-color); /* Box shadow style */

  /* Text Colors */
  --placeholder-color: #888; /* Placeholder text color */
  --focus-color: #0066cc; /* Focus color */
  --error-color: #cc0000; /* Error color */

  /* Button Colors */
  --primary-button-color: var(--primary-color); /* Primary button color */
  --primary-button-text-color: white; /* Primary button text color */
  --primary-button-hover-color: #002280; /* Primary button hover color */
  --primary-button-hover-text-color: white; /* Primary button hover text color */

  --secondary-button-color: var(--black); /* Secondary button color */
  --secondary-button-text-color: var(--white); /* Secondary button text color */
  --secondary-button-hover-color: #e0e0e0; /* Secondary button hover color */
  --secondary-button-hover-text-color: #000; /* Secondary button hover text color */

  /* Black and White Shades */
  --white: #ffffff; /* White color */
  --white-lighter: #f9f9f9; /* Lighter shade of white */
  --white-light: #f0f0f0; /* Light shade of white */
  --white-dark: #d0d0d0; /* Darker shade of white */
  --black: #000000; /* Black color */
  --black-lighter: #1a1a1a; /* Lighter shade of black */
  --black-light: #333333; /* Light shade of black */
  --black-dark: #4d4d4d; /* Darker shade of black */
  --black-darker: #666666; /* Even darker shade of black */

  /* Blue Colors */
  --blue: #0033a0; /* Primary blue */
  --blue-lighter: #4d79cc; /* Lighter blue */
  --blue-light: #3366cc; /* Light blue */
  --blue-dark: #002280; /* Dark blue */
  --blue-darker: #001160; /* Darker blue */

  /* Orange Colors */
  --orange: #ff6600; /* Primary orange */
  --orange-lighter: #ff9966; /* Lighter orange */
  --orange-light: #ff8533; /* Light orange */
  --orange-dark: #cc5200; /* Dark orange */
  --orange-darker: #993d00; /* Darker orange */

  /* Red Colors */
  --red: #ff4d4d; /* Primary red */
  --red-lighter: #ff8585; /* Lighter red */
  --red-light: #ff6666; /* Light red */
  --red-dark: #cc3d3d; /* Dark red */
  --red-darker: #993030; /* Darker red */

  /* Green Colors */
  --green: #28a745; /* Primary green */
  --green-lighter: #71d78e; /* Lighter green */
  --green-light: #4cc476; /* Light green */
  --green-dark: #218838; /* Dark green */
  --green-darker: #196c2a; /* Darker green */

  /* Yellow Colors */
  --yellow: #ffcc00; /* Primary yellow */
  --yellow-lighter: #ffdb4d; /* Lighter yellow */
  --yellow-light: #ffe580; /* Light yellow */
  --yellow-dark: #cc9900; /* Dark yellow */
  --yellow-darker: #996600; /* Darker yellow */

  /* Admin Stuff */
  --admin-section-title-color: var(--focus-color); /* Admin section title color */
  --admin-section-text-color: var(--white); /* Admin section text color */
  --admin-create-btn-bg: var(--green); /* Admin create button background */
  --admin-create-btn-hover-bg: var(--green-dark); /* Admin create button hover background */

  /* Link Colors */
  --link-color: var(--blue); /* Link color */
  --link-hover-color: var(--orange); /* Link hover color */

  /* Header Colors */
  --primary-strong-text-color: var(--blue); /* Strong text color */
  --header-color: var(--blue); /* Header color */

  /* Table Row Colors for Light Theme */
  --tr-bg-color-1: #f9f9f9; /* Row 1 background color */
  --tr-txt-color-1: #333; /* Row 1 text color */
  --tr-bg-color-2: #ffffff; /* Row 2 background color */
  --tr-txt-color-2: #333; /* Row 2 text color */

  /* Hover colors for row color 1 */
  --tr-bg-color-1-hover: #e5f3ff; /* Hover background color for row 1 */
  --tr-txt-color-1-hover: #004080; /* Hover text color for row 1 */

  /* Hover colors for row color 2 */
  --tr-bg-color-2-hover: #fff6e5; /* Hover background color for row 2 */
  --tr-txt-color-2-hover: #804000; /* Hover text color for row 2 */
}

.dark:root {
  /* Primary Colors */
  --primary-color: #4d79cc; /* Primary color for dark theme */
  --secondary-color: #202020; /* Secondary color for dark theme */

  /* Christmas Colors */
  --chrismast-primary: #ff0000; /* Red */
  --chrismast-secondary: #00ff00; /* Green */
  --chrismast-accent: #ffff00; /* Yellow for festive accents */

  --primary-text-color: #f0f0f0; /* Primary text color */
  --secondary-text-color: #c0c0c0; /* Secondary text color */

  /* Background Colors */
  --background: #181818; /* Main background color for dark theme */
  --background-light: #2c2c2c; /* Light background for containers in dark theme */
  --input-background: #2e2e2e; /* Input field background */
  --hover-bg-color: #3d3d3d; /* Hover background color */
  --container-background: #2e2e2e; /* Dark gray for container background */

  /* Borders and Shadows */
  --border-color: #444; /* Border color */
  --box-shadow-color: rgba(255, 255, 255, 0.15); /* Box shadow color */
  --cmast-shadow-color: var(--chrismast-secondary);
  --box-shadow: 0 0 20px var(--box-shadow-color); /* Box shadow style */

  /* Text Colors */
  --placeholder-color: #bbb; /* Placeholder text color */
  --focus-color: #4d79cc; /* Focus color */
  --error-color: #ff4d4d; /* Error color */

  /* Button Colors */
  --primary-button-color: var(--blue-light); /* Primary button color */
  --primary-button-text-color: white; /* Primary button text color */
  --primary-button-hover-color: var(--blue-darker); /* Primary button hover color */
  --primary-button-hover-text-color: white; /* Primary button hover text color */

  --secondary-button-color: var(--black-light); /* Secondary button color */
  --secondary-button-text-color: var(--white); /* Secondary button text color */
  --secondary-button-hover-color: var(--black-dark); /* Secondary button hover color */
  --secondary-button-hover-text-color: var(--white-light); /* Secondary button hover text color */

  /* Blue Colors */
  --blue: #4d79cc; /* Primary blue */
  --blue-lighter: #4d79cc; /* Lighter blue */
  --blue-light: #3366cc; /* Light blue */
  --blue-dark: #002280; /* Dark blue */
  --blue-darker: #001160; /* Darker blue */

  /* Orange Colors */
  --orange: #ff6600; /* Primary orange */
  --orange-lighter: #ff9966; /* Lighter orange */
  --orange-light: #ff8533; /* Light orange */
  --orange-dark: #cc5200; /* Dark orange */
  --orange-darker: #993d00; /* Darker orange */

  /* Red Colors */
  --red: #ff4d4d; /* Primary red */
  --red-lighter: #ff8585; /* Lighter red */
  --red-light: #ff6666; /* Light red */
  --red-dark: #cc3d3d; /* Dark red */
  --red-darker: #993030; /* Darker red */

  /* Green Colors */
  --green: #28a745; /* Primary green */
  --green-lighter: #71d78e; /* Lighter green */
  --green-light: #4cc476; /* Light green */
  --green-dark: #218838; /* Dark green */
  --green-darker: #196c2a; /* Darker green */

  /* Yellow Colors */
  --yellow: #ffcc00; /* Primary yellow */
  --yellow-lighter: #ffdb4d; /* Lighter yellow */
  --yellow-light: #ffe580; /* Light yellow */
  --yellow-dark: #cc9900; /* Dark yellow */
  --yellow-darker: #996600; /* Darker yellow */

    /* Black and White Shades */
    --white: #ffffff; /* White color */
    --white-lighter: #f9f9f9; /* Lighter shade of white */
    --white-light: #f0f0f0; /* Light shade of white */
    --white-dark: #d0d0d0; /* Darker shade of white */
    --black: #000000; /* Black color */
    --black-lighter: #1a1a1a; /* Lighter shade of black */
    --black-light: #333333; /* Light shade of black */
    --black-dark: #4d4d4d; /* Darker shade of black */
    --black-darker: #666666; /* Even darker shade of black */

  /* Admin Stuff */
  --admin-section-title-color: var(--focus-color); /* Admin section title color */
  --admin-section-text-color: var(--white); /* Admin section text color */
  --admin-create-btn-bg: var(--green); /* Admin create button background */
  --admin-create-btn-hover-bg: var(--green-dark); /* Admin create button hover background */

  /* Link Colors */
  --link-color: var(--blue-light); /* Link color */
  --link-hover-color: var(--orange); /* Link hover color */

  /* Header Colors */
  --primary-strong-text-color: var(--blue-light); /* Strong text color */
  --header-color: var(--blue-light); /* Header color */

  /* Table Row Colors for Dark Theme */
  --tr-bg-color-1: #333; /* Row 1 background color */
  --tr-txt-color-1: #f0f0f0; /* Row 1 text color */
  --tr-bg-color-2: #444; /* Row 2 background color */
  --tr-txt-color-2: #f0f0f0; /* Row 2 text color */

  /* Hover colors for row color 1 */
  --tr-bg-color-1-hover: #666; /* Hover background color for row 1 */
  --tr-txt-color-1-hover: #fff; /* Hover text color for row 1 */

  /* Hover colors for row color 2 */
  --tr-bg-color-2-hover: #555; /* Hover background color for row 2 */
  --tr-txt-color-2-hover: #fff; /* Hover text color for row 2 */
}


.pride:root {
  /* Primary Colors */
  --primary-color: #ff4f4f; /* Red */
  --secondary-color: #ffcc00; /* Yellow */

  --primary-text-color: #ffffff; /* Primary text color */
  --secondary-text-color: #f0f0f0; /* Secondary text color */

  /* Background Colors */
  --background: linear-gradient(135deg, rgba(255, 79, 79, 1), rgba(255, 156, 0, 1), rgba(255, 204, 0, 1), rgba(40, 167, 69, 1), rgba(0, 123, 255, 1), rgba(111, 66, 193, 1));  --background-light: #f0f0f0; /* Light background for containers */
  --input-background: #f9f9f9; /* Input field background */
  --hover-bg-color: #e0e0e0; /* Hover background color */
  --container-background: #ffffff; /* White for container background */

  /* Borders and Shadows */
  --border-color: #ddd; /* Border color */
  --box-shadow-color: rgba(0, 0, 0, 0.15); /* Box shadow color */
  --box-shadow: 0 0 20px var(--box-shadow-color),
                0 0 10px var(--red),
                0 0 10px var(--orange),
                0 0 10px var(--yellow),
                0 0 10px var(--green),
                0 0 10px var(--blue),
                0 0 10px var(--purple); /* Box shadow with pride colors */

  /* Text Colors */
  --placeholder-color: #888; /* Placeholder text color */
  --focus-color: #0066cc; /* Focus color */
  --error-color: #cc0000; /* Error color */

  /* Button Colors */
  --primary-button-color: var(--primary-color); /* Primary button color */
  --primary-button-text-color: white; /* Primary button text color */
  --primary-button-hover-color: #c30000; /* Darker red for hover */
  --primary-button-hover-text-color: white; /* Primary button hover text color */

  --secondary-button-color: var(--secondary-color); /* Secondary button color */
  --secondary-button-text-color: #333; /* Secondary button text color */
  --secondary-button-hover-color: #e0e0e0; /* Secondary button hover color */
  --secondary-button-hover-text-color: #000; /* Secondary button hover text color */

  /* Black and White Shades */
  --white: #ffffff; /* White color */
  --white-lighter: #f9f9f9; /* Lighter shade of white */
  --white-light: #f0f0f0; /* Light shade of white */
  --white-dark: #d0d0d0; /* Darker shade of white */
  --black: #000000; /* Black color */
  --black-lighter: #1a1a1a; /* Lighter shade of black */
  --black-light: #333333; /* Light shade of black */
  --black-dark: #4d4d4d; /* Darker shade of black */
  --black-darker: #666666; /* Even darker shade of black */

  /* Colors of the Pride Flag */
  --red: #ff4f4f; /* Primary red */
  --orange: #ff9c00; /* Orange */
  --yellow: #ffcc00; /* Yellow */
  --green: #28a745; /* Green */
  --blue: #007bff; /* Blue */
  --purple: #6f42c1; /* Purple */

  /* Admin Stuff */
  --admin-section-title-color: var(--focus-color); /* Admin section title color */
  --admin-section-text-color: var(--white); /* Admin section text color */
  --admin-create-btn-bg: var(--green); /* Admin create button background */
  --admin-create-btn-hover-bg: var(--green-dark); /* Admin create button hover background */

  /* Link Colors */
  --link-color: var(--blue); /* Link color */
  --link-hover-color: var(--orange); /* Link hover color */

  /* Header Colors */
  --primary-strong-text-color: var(--blue); /* Strong text color */
  --header-color: var(--blue); /* Header color */

  /* Table Row Colors for Pride Theme */
  --tr-bg-color-1: #f2f2f2; /* Row 1 background color */
  --tr-txt-color-1: #333; /* Row 1 text color */
  --tr-bg-color-2: #ffffff; /* Row 2 background color */
  --tr-txt-color-2: #333; /* Row 2 text color */

  /* Hover colors for row color 1 */
  --tr-bg-color-1-hover: #ffcc00; /* Hover background color for row 1 */
  --tr-txt-color-1-hover: #004080; /* Hover text color for row 1 */

  /* Hover colors for row color 2 */
  --tr-bg-color-2-hover: #ff4f4f; /* Hover background color for row 2 */
  --tr-txt-color-2-hover: #804000; /* Hover text color for row 2 */
}


.admin-section-title {
  color: var(--admin-section-text-color);
  padding: 1.5rem;
  background: var(--admin-section-title-color);
  text-align: center;
  margin: 0 0 2rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--box-shadow-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  word-break: break-all;
  font-weight: 900;
}

.link {
  color: var(--link-color);
}

.link:hover {
  color: var(--link-hover-color);
}

.admin-btn.create-btn {
  background: var(--admin-create-btn-bg);
}

.admin-btn.create-btn:hover {
  background: var(--admin-create-btn-hover-bg);
}

.button {
  background: var(--primary-button-color);
}

.button:hover {
  background: var(--primary-button-hover-color);
}

.full-width {
  max-width: 100%;
  width: 100%;
  min-width: 100%; 
  box-sizing: border-box; 
}

.mb-4 {
  margin-bottom: 1rem; 
}

/* Extra small devices (phones, less than 481px) */
@media (max-width: 480px) {
  /* Add your styles here */
}

/* Small devices (tablets, 481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Add your styles here */
}

/* Medium devices (desktops, 769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Add your styles here */
}

/* Large devices (large desktops, 1025px and up) */
@media (min-width: 1025px) {

  /* Add your styles here */
}

@keyframes pride-rainbow {
  0% {
    box-shadow: 0 0 20px rgba(255, 79, 79, 0.7), 0 0 20px 5px rgba(255, 156, 0, 0.7), 0 0 20px 10px rgba(255, 204, 0, 0.7), 0 0 20px 15px rgba(40, 167, 69, 0.7), 0 0 20px 20px rgba(0, 123, 255, 0.7), 0 0 20px 25px rgba(111, 66, 193, 0.7);
  }
  25% {
    box-shadow: 0 0 20px rgba(255, 156, 0, 0.7), 0 0 20px 5px rgba(255, 204, 0, 0.7), 0 0 20px 10px rgba(40, 167, 69, 0.7), 0 0 20px 15px rgba(0, 123, 255, 0.7), 0 0 20px 20px rgba(111, 66, 193, 0.7), 0 0 20px 25px rgba(255, 79, 79, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.7), 0 0 20px 5px rgba(40, 167, 69, 0.7), 0 0 20px 10px rgba(0, 123, 255, 0.7), 0 0 20px 15px rgba(111, 66, 193, 0.7), 0 0 20px 20px rgba(255, 79, 79, 0.7), 0 0 20px 25px rgba(255, 156, 0, 0.7);
  }
  75% {
    box-shadow: 0 0 20px rgba(40, 167, 69, 0.7), 0 0 20px 5px rgba(0, 123, 255, 0.7), 0 0 20px 10px rgba(111, 66, 193, 0.7), 0 0 20px 15px rgba(255, 79, 79, 0.7), 0 0 20px 20px rgba(255, 156, 0, 0.7), 0 0 20px 25px rgba(255, 204, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 79, 79, 0.7), 0 0 20px 5px rgba(255, 156, 0, 0.7), 0 0 20px 10px rgba(255, 204, 0, 0.7), 0 0 20px 15px rgba(40, 167, 69, 0.7), 0 0 20px 20px rgba(0, 123, 255, 0.7), 0 0 20px 25px rgba(111, 66, 193, 0.7);
  }
}


.link {
	color: var(--link-color);
	text-decoration: none;
	/* gap: 20px; */
	/* display: inline-flex; */
	margin-right: 1em;
}