<!DOCTYPE html>
<html lang="fi" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aktioilmoittautumisjärjestelmä by Mielenosoitukset.fi">
    <title>{% block title %}Aktioilmoittautumisjärjestelmä by Mielenosoitukset.fi{% endblock %}</title>

    <!-- START of stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        header {
	background-color: var(--header-color);
	padding: 1em;
	margin-bottom: 2em;
}

.version {
	background: var(--neon-green);
	width: fit-content;
	padding: 0.5em;
	margin: auto;
	color: var(--black);
	border-radius: 100px;
}

footer {
    margin-top: 2em;
}

header h1 {
    font-size: 2em;
    text-align: center;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }
}
    </style>
    {% block styles %}{% endblock %}
    <!-- END of stylesheets -->

    <!-- Matomo -->
    <script src="{{ url_for('static', filename='js/matomo.js') }}"></script>
    <!-- End Matomo Code -->
</head>

<body>
    <!-- Scrolling Marquee Message Section -->
    <div class="marquee" aria-live="polite" style="display: none"></div>

    <header class="header">
        <h1><i><!--TODO: #237 add title--></i></h1>
    </header>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages" class="flash-messages" aria-live="assertive">
        <button class="flash-close" aria-label="Close" onclick="this.parentElement.style.display = 'none'">
            <i class="fas fa-times"></i>
        </button>
        <ul id="flash-message-list">
            {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Main Content Area -->
    <main class="container-main-content">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="version">
            v3.0.0-beta.3
        </div>
        <div class="container-header-footer">
            <p>&copy; 2024 Mielenosoitukset.fi - {{ _('Kaikki oikeudet pidätetään.') }}</p>
            <ul class="footer-links">
                <li><a href="{{ url_for('info') }}">{{ _('Tietoa sivustosta') }}</a></li>
                |
                <li><a href="{{ url_for('privacy') }}">{{ _('Tietosuojaseloste') }}</a></li>
                |
                <li><a href="{{ url_for('contact') }}">{{ _('Ota yhteyttä') }}</a></li>
            </ul>
            <ul class="social-media-links">
                <li>
                    <a href="https://www.instagram.com/mielenosoitukset" target="_blank" aria-label="Instagram"></a>
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/mielenosoitukset" target="_blank" aria-label="Facebook"></a>
                        <i class="fab fa-facebook"></i> Facebook
                    </a>
                </li>
            </ul>
            <ul class="footer-links">
                <div class="auth-buttons">
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('users.auth.login') }}">{{ _('Kirjaudu sisään') }}</a></li>
                    <li><a href="{{ url_for('users.auth.register') }}">{{ _('Rekisteröidy') }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('users.auth.logout') }}">{{ _('Kirjaudu ulos') }}</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </footer>

    <!-- JavaScript for Navigation Menu Toggle and Dropdown -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".dropdown-toggle").forEach(function (toggle) {
                toggle.addEventListener("click", function (event) {
                    event.preventDefault();
                    const dropdownMenu = this.nextElementSibling;
                    const isOpen = dropdownMenu.classList.toggle("show");
                    this.setAttribute("aria-expanded", isOpen);
                });
            });

            window.addEventListener("click", function (event) {
                document.querySelectorAll(".dropdown-menu").forEach(function (dropdown) {
                    if (!dropdown.parentElement.contains(event.target)) {
                        dropdown.classList.remove("show");
                    }
                });
            });

            applyPreferredTheme(); // Apply the preferred theme on page load
            checkForNewMarqueeMessages(); // Initial check on page load
            // Check for new marquee messages every 5 seconds
            setInterval(checkForNewMarqueeMessages, 5000);
        });

        function displayFlashMessage(category, message) {
            const flashMessages = document.getElementById("flash-messages");
            const messageList = document.getElementById("flash-message-list");

            const newMessage = document.createElement("li");
            newMessage.className = `flash-${category}`;
            newMessage.textContent = message;

            messageList.appendChild(newMessage);
            flashMessages.style.display = "block";

            setTimeout(() => {
                newMessage.remove();
                if (messageList.childElementCount === 0) {
                    flashMessages.style.display = "none";
                }
            }, 10000);
        }

        function toggleNavbar() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }
    </script>

    <script src="{{ url_for('static', filename='js/marquee.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
