{% extends 'admin_base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/recu_dash.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/modal.css') }}">
<style>
    .custom-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .dropdown-selected {
        background: var(--input_background);
        padding: 10px;
        border: 1px solid var(--border_color);
        border-radius: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .dropdown-list {
        display: none;
        position: absolute;
        background: var(--background_light);
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        z-index: 1;
        width: 100%;
    }

    .dropdown-list div {
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .dropdown-list div:hover {
        background-color: var(--background_hover);
    }

    .social-media-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;
        justify-items: center;
    }

    .form-control {
        padding: 8px;
        margin: 5px 0 15px 0;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        max-width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;

    }

    .form-title {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-group .required {
        color: red;
    }

    .button {
        background-color: var(--primary_color);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .button:hover {
        background-color: var(--primary_color_dark);
    }

    .btn-primary {
        background-color: var(--primary_button_color);
        color: var(--primary_button_text_color);
        border: none;
        padding: 10px 20px;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: var(--primary_color_dark);
    }


/* Inline #7 | http://127.0.0.1:5002/admin/organization/view/66c257cd1704d4c3c19e1a57 */

.social-media-container {
  justify-content: center;
  justify-items: center;
}

#social-media-list .form-control {
  margin: unset;
  padding: 9px;
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
}

.custom-dropdown {
  border-right: none;
}

.dropdown-selected {
  /* border-radius: 0.25rem; */
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: none;
  padding: 9px; /* fix the padding */
  border-color: #ced4da;
cursor: text;
}

.no-users {
    margin-top: 20px;
    background-color: var(--danger_bg);
    color: var(--danger_text);
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
}


</style>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script>
    // TODO: Add functionality to handle dropdown selection
    // TODO: Add form validation for invitee email
</script>
{% endblock %}

{% block main_content %}
<div class="container mt-4" id="view">
    <h2 class="admin-section-title form-title">{{ _('Organisaation tiedot') }}</h2>

    <div class="form-group">
        <label>{{ _('Nimi') }}</label>
        <p class="form-control">{{ organization.name }}</p>
    </div>

    <div class="form-group">
        <label>{{ _('Kuvaus') }}</label>
        <p class="form-control">{{ organization.description }}</p>
    </div>

    <div class="form-group">
        <label>{{ _('Sähköpostiosoite') }}</label>
        <p class="form-control">{{ organization.email }}</p>
    </div>

    <div class="form-group">
        <label>{{ _('Verkkosivu') }}</label>
        <p class="form-control">{{ organization.website }}</p>
    </div>

    {% if organization %}
    <div class="form-group">
        <label>{{ _('Onko organisaatio vahvistettu?') }}</label>
        <p class="form-control">{% if organization.verified %} <i class="fa fa-check"></i> {{ _('Kyllä') }} {% else %} <i class="fa fa-ban"></i> {{ _('Ei') }}{% endif %}</p>
    </div>
    {% endif %}

    <div class="form-group">
        <label>{{ _('Sosiaalinen media') }}</label>
        
        <div id="social-media-list">
            {% for platform, url in organization.social_media_links.items() %}
            <div class="social-media-container">
                <div class="custom-dropdown">
                    <div class="dropdown-selected"><i class="fab fa-{{ platform }}"></i> {{ platform.capitalize() }}:</div>
                </div>
                <p class="form-control">{{ url }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label>{{ _('Käyttäjät') }}</label>
        <table class="table">
            {% if organization.members %}
            <thead>
                <tr>
                    <th>{{ _('Nimi') }}</th>
                    <th>{{ _('Sähköpostiosoite') }}</th>
                    <th>{{ _('Pääsytaso') }}</th>
                    <th>{{ _('Toiminnot') }}</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
                {% for user in organization.members %}
                <tr>
                    <td>{{ user.displayname or user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <select class="form-control">
                            <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>{{ _('Admin') }}</option>
                            <option value="member" {% if user.role == 'member' %}selected{% endif %}>{{ _('Jäsen') }}</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn-primary">{{ _('Tallenna') }}</button>
                        <button class="button">{{ _('Poista') }}</button>
                    </td>
                </tr>
                {% else %}
                <div class="no-users">
                    <p>{{ _('Ei käyttäjiä') }}</p>
                </div>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            <label>{{ _('Kutsutut käyttäjät') }}</label>
            <table class="table">
                {% if organization.invited_users %}
                <thead>
                    <tr>
                        <th>{{ _('Sähköpostiosoite') }}</th>
                        <th>{{ _('Kutsun tila') }}</th>
                        <th>{{ _('Toiminnot') }}</th>
                    </tr>
                </thead>
                {% endif %}
                <tbody>
                    {% for invite in organization.invited_users %}
                    <tr>
                        <td>{{ invite.email }}</td>
                        <td>{{ _('Odottaa hyväksyntää') }}</td>
                        <td>
                            <button class="button">{{ _('Peruuta kutsu') }}</button>
                        </td>
                    </tr>
                    {% else %}
                    <div class="no-users">
                        <p>{{ _('Ei kutsuttuja käyttäjiä') }}</p>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="button" data-modal-target="#inviteModal">{{ _('Kutsu käyttäjiä') }}</button>
    </div>
    {{ org_macros.invite_modal(organization) }}
</div>
{% endblock %}
