{% extends "admin_base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<style>
    .no-data {
        color: #721c24;
        font-weight: bold;
        background: #f8d7da;
        padding: 20px;
        border: 1px dashed #f5c6cb;
        border-radius: 5px;
        text-align: center;
        margin: 1rem 0;
    }
    .back-button {
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/stats.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/activities.css') }}">

{% endblock %}

{% block main_content %}
<div class="table-container">
    <h2 id="tabletitle">{{ _('Tilastot') }}</h2>
    <p>{{ _('Tässä osiossa voit tarkastella sivuston tilastoja.') }}</p>

    <div class="stats-overview">
        <h2>{{ _('Käyttäjät') }}</h2>
        <stats>
            <stat>
            <stitle>{{ _('Käyttäjiä') }}</stitle>
            <snum>{{ total_users }}</snum>
        </stat>
        <stat>
            <stitle>{{ _('Vahvistetut käyttäjät') }}</stitle>
            <sdisc>Käyttäjiä, jotka ovat vahvistaneet sähköpostiosoitteensa</sdisc>
            <snum>{{ active_users }}</snum>
        </stat>
        <stat>
            <stitle>{{ _('Rekisteröidyt organisaatiot') }}</stitle>
            <snum>{{ total_organizations }}</snum>
        </stat>
        <last-updated>
            <p>{{ _('Tilastot päivitetty viimeksi') }}: {{ last_updated }}</p>
        </last-updated>

        </stats>
<br>
        <h2 class="admin-section-title">{{ _('Viimeisimmät aktiviteetit') }}</h2>
        <activities>
            {% for activity in recent_activity %}
            <activity>
            <activity-title><i class="fas fa-tasks"></i> {{ activity.action }}</activity-title>
            <activity-content>
                <aby><i class="fas fa-user"></i> {{ activity.by }}</aby>
                <atime><i class="fas fa-clock"></i> {{ activity.date_time }}</atime>
                <aaction onclick="expandAct(this)"><i class="fas fa-arrow-right"></i> {{ _('Katso lisää') }}</aaction>
            </activity-content>
            <activity-extra>
                <aip>
                    <i class="fas fa-globe"></i> {{ _('IP-osoite') }}:                        
                </aip>
                <asession>
                    <i class="fas fa-user-secret"></i> {{ _('Istunto') }}:
                </asession>
            </activity-extra>
            </activity>
            {% endfor %}
            {% if not recent_activities %}
            <div class="no-data">
            <p>{{ _('Ei aktiivisuuksia vielä.') }}</p>
            </div>
            {% endif %}
        </activities>
    </div>

    <div class="analytics-container" style="margin-top: 40px;">
        <h2 id="tabletitle">{{ _('Mielenosoitus analytiikka') }}</h2>

        {% if data %}
        <table>
            <thead>
                <tr>
                    <th>{{ _('Mielenosoituksen ID') }}</th>
                    <th>{{ _('Katselukerrat') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for demo in data %}
                <tr>
                    <td>{{ demo.id }}</td>
                    <td>{{ demo.views }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="no-data">
            <p>{{ _('Ei tietoja saatavilla.') }}</p>
        </div>
        {% endif %}
    </div>

    <div class="back-button">
        <a href="{{ url_for('admin.admin_dashboard') }}" class="button">
            <i class="fas fa-arrow-left"></i>{{ _('Palaa hallintapaneeliin') }}
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/activities.js') }}"></script>
{% endblock %}
