<div class="form-group required">
  <label for="city" aria-label="{{ _('Paikkakunta selection') }}">{{ _('Paikkakunta') }}<span class="required-asterisk"
      aria-hidden="true">*</span></label>
  <br><br>
  <div id="paikkakunta-drop" class="dropdown">
    <button type="button" class="dropbtn" aria-haspopup="listbox" aria-expanded="false"
      aria-label="{{ _('Open Paikkakunta dropdown') }}">{{ _('Paikkakunta') }}</button>
    <div id="dropdown-content" class="dropdown-content" role="listbox" aria-labelledby="city">
      <input type="text" placeholder="{{ _('Hae paikkakunta...') }}" id="searchInput" onkeyup="filterFunction()"
        aria-label="{{ _('Search cities') }}" />
      <!-- List of cities -->
      {% for city in city_list %}
      <a href="#" role="option" aria-selected="false" onclick="selectCity('{{ city }}'); return false;" {% if demo is
        defined and demo.city==city %} class="selected" {% endif %}>
        {{ city }}
      </a>
      {% endfor %}
    </div>
  </div>
  <input type="hidden" id="selected-city" name="city" value="{{ demo.city if demo is defined else '' }}" required />
</div>

<script>
  // Paikkakunta dropdown functions
  document.querySelector(".dropbtn").addEventListener("click", function (event) {
    event.stopPropagation(); // Prevent click event from bubbling
    var dropdownContent = document.getElementById("dropdown-content");
    var expanded = this.getAttribute("aria-expanded") === "true" || false;
    dropdownContent.style.display = expanded ? "none" : "block";
    this.setAttribute("aria-expanded", !expanded);
  });

  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn') && !event.target.closest('.dropdown')) {
      document.getElementById("dropdown-content").style.display = "none";
      document.querySelector(".dropbtn").setAttribute("aria-expanded", "false");
    }
  };

  function selectCity(city) {
    var dropbtn = document.querySelector(".dropbtn");
    dropbtn.textContent = city;
    document.getElementById("selected-city").value = city;
    document.getElementById("dropdown-content").style.display = "none";
    dropbtn.setAttribute("aria-expanded", "false");
  }

  function filterFunction() {
    let input = document.getElementById("searchInput");
    let filter = input.value.toUpperCase();
    let div = document.getElementById("dropdown-content");
    let a = div.getElementsByTagName("a");

    for (let i = 0; i < a.length; i++) {
      let txtValue = a[i].textContent || a[i].innerText;
      a[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
    }
  }
</script>

<style>
  .dropdown {
    display: inline-block;
    width: 100%;
    max-width: 300px;
  }

  .dropdown-content {
    display: none;
    background: var(--input-background);
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: 5px;
    animation: fadeIn 0.3s ease-in-out;
  }

  .dropbtn {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--background);
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropbtn::after {
    content: '▼';
    font-size: 12px;
    margin-left: 10px;
    color: var(--icon-color);
  }

  .dropdown-content input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: var(--input-background);
    outline: none;
  }

  .dropdown-content a {
    color: var(--primary-text-color);
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background 0.2s ease;
    border-bottom: 1px solid var(--border-color);
  }

  .dropdown-content a:hover {
    background: var(--hover-bg-color);
  }

  /* Highlight selected city */
  .dropdown-content a.selected {
    background: var(--selected-bg-color);
    /* Optional: define a color for the selected city */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

{% if demo is defined %}
<script>selectCity("{{ demo.city }}");</script>
{% endif %}