{% extends 'base.html' %}
{% block title %} {{ demo['title'] }} - Preview {% endblock %}
{% block meta %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ demo['description'] if demo['description'] else 'Mielenosoituksen tiedot.' }}" />
<meta name="author" content="Mielenosoitukset.fi" />
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/toolbox.css' )}}" />
<style>
    #main {
        background: var(--background);
        padding: 40px;
        margin: 0 auto;
        width: 1080px;  /* 1080px */
        height: 1080px; /* 1080px */
        border: 2px solid var(--orange);
        animation: fadeIn 1s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #main img {
        max-width: 100%;
        max-height: 50%;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 5em;
        margin-bottom: 40px;
        overflow-wrap: break-word;
        color: var(--primary-text-color);
    }

    .city {
        font-size: 3em;
        margin-bottom: 40px;
        color: var(--primary-strong-text-color);
    }

    .address {
        font-size: 2.4em;
        margin-bottom: 40px;
        color: var(--secondary-text-color);
    }

    .topics ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .topics li {
        margin: 10px;
    }

    .tag {
        padding: 16px 24px;
        background: var(--blue-light);
        color: #fff;
        border-radius: 200px;
        display: inline-block;
        transition: background 0.3s ease;
        font-size: 200%;
    }

    .tag:hover {
        background: var(--blue-dark);
    }

    .countdown {
        margin-top: 40px;
        padding: 40px;
        background: var(--background);
        border-radius: 8px;
        text-align: center;
        box-shadow: var(--box-shadow);
        font-size: 1.5em;
    }

    .screenshotbutton {
        padding: 20px;
        background-color: var(--orange);
        border-radius: 0.5em;
        border: var(--white) solid 1px;
        color: var(--blue-darker);
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .screenshotbutton:hover {
        background-color: var(--orange-dark);
    }

    .screenshotbutton:active {
        background-color: var(--orange-darker);
    }
</style>
{% endblock %}
{% block content %}

<div id="main">
    {% if demo['img'] %}
    <img src="{{ demo['img'] }}" alt="Event Image" />
    {% endif %}

    <h1>{{ demo['title'] }}</h1>

    <div class="city">{{ demo['city'] }}</div>
    
    <div class="address">{{ demo['address'] }}</div>

    {% if demo['description'] %}
    <div class="container">
        <h2 class="subtitle">{{ _('Mielenosoituksen esittelyteksti') }}</h2>
        {{ demo['description']|safe }}
    </div>
    {% endif %}

    <div class="topics">
        <ul>
            {% if demo["tags"] and demo["tags"]|length > 0 %}
            {% for tag in demo["tags"] %}
            <li>
                <a style="margin: 0; padding: 0;" href="{{ url_for('tag_detail', tag_name=tag) }}">
                    <span class="tag">#{{ tag }}</span>
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    
    <p style="font-size: 3em;">
        {{ demo['date'] }} {{ demo['start_time'] }}
        {% if demo['end_time'] %}
        &rarr; {{ demo['end_time'] }}
        {% endif %}
    </p>
</div>
<button class="screenshotbutton" onclick="Screenshot()">Take Screenshot</button>
{% endblock %}
{% block scripts %}
<script>
    // force the browser to set 50% zoom level
    const data = {
        demo: {{ demo | tojson }}
    };

    function formatFinnishDate(dateString) {
        const [day, month, year] = dateString.split(".").map(Number);
        return `${year}-${String(month).padStart(2, "0")}-${String(day).padStart(2, "0")}`;
    }

    function Screenshot() {
    const mainElement = document.querySelector("#main");

    // Use html2canvas to take a screenshot
    html2canvas(mainElement, {
        scale: 1, // Capture at 2x resolution for higher-quality images
    }).then(canvas => {
        // Prepare the download link
        const link = document.createElement("a");
        const title = data.demo['title'].replace(/ /g, "_"); // Replace spaces with underscores
        const date = data.demo['date'];
        link.download = `demo_${title}_${date}.png`;

        // Convert canvas to data URL and assign to the download link
        link.href = canvas.toDataURL("image/png");
        link.click(); // Trigger the download
    }).catch(err => {
        console.error("Screenshot failed:", err);
    });
}



    document.addEventListener("DOMContentLoaded", 
    () => {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has("autodownload")) {
            Screenshot();
        }
    });
</script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
{% endblock %}
