{% extends 'base.html' %}

{% block title %} {{_('Ilmoita mielenosoituksesta') }} {%endblock %}

{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/submit.css') }}"
/>
<!-- Include Flatpickr CSS -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/ck.css') }}" />
<link
  rel="stylesheet"
  href="https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.css"
/>
<style>
  .required {
    color: var(--primary-text-color);
  }
  .required-asterisk {
    color: var(--red);
    margin-left: 5px;
  }
  .optional-section {
    display: none;
  }
  @media (max-width: 600px) {
    .container-form {
      padding: 10px;
    }
    .editor-container__editor {
      width: 100%;
    }
    .add-organizer-button,
    .submit-button {
      width: 100%;
    }
    .editor-container_include-block-toolbar {
      margin-left: 0;
    }
  }
</style>
{% endblock %}
{% block scripts %}

<script type="module">
  import ClassicEditor from "ckeditor5";

  let editor;
  import ClassicEditor from "ckeditor5-build-classic";

  ClassicEditor.create(document.querySelector("#editor"))
    .then((newEditor) => {
      editor = newEditor; // Make editor accessible
    })
    .catch((error) => {
      console.error(error);
    });

  document.querySelector("#submit").addEventListener("click", async (event) => {
    event.preventDefault(); // Prevent form submission until we set the description

    const editorData = editor.getData();
    document.getElementById("description").value = editorData; // Set value instead of innerHTML

    const form = document.querySelector("form");
    const formData = new FormData(form);

    try {
      // Send the form data using fetch and wait for the response
      const response = await fetch(form.action, {
        method: form.method,
        body: formData,
        redirect: "manual", // Prevent automatic redirects
      });

      // Check if the response status is a 3xx (indicating a redirect)
      if (response.status >= 300 && response.status < 400) {
        const locationHeader = response.headers.get("location");
        if (locationHeader) {
          // Redirect the user to the URL in the 'Location' header
          window.location.href = locationHeader;
        } else {
          alert("ERROR!");
        }
      }
    } catch (e) {
      // Handle network errors
      console.error("Network error:", e);
      alert("There was an issue submitting the form. Please try again.");
    }
  });
</script>
<!-- Include Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{ url_for('static', filename='js/date.js') }}"></script>

<script>
  let organizerCount = 0;

  function addOrganizer() {
    organizerCount++;
    const container = document.getElementById("organizers-container");
    const organizerDiv = document.createElement("div");
    organizerDiv.className = "organizer";

    organizerDiv.innerHTML = `
      <div class="organizer-entry"> 
        <hr>
        <p>{{ _('Järjestäjätahon...') }}</p>
        <label for="organizer_name_${organizerCount}">{{ _('Nimi') }}<span class="required-asterisk">*</span></label>
        <input type="text" id="organizer_name_${organizerCount}" name="organizer_name_${organizerCount}" placeholder="{{ _('Järjestäjän nimi') }}" required>

        <label for="organizer_website_${organizerCount}">{{ _('Verkkosivut') }}</label>
        <input type="url" id="organizer_website_${organizerCount}" name="organizer_website_${organizerCount}" placeholder="https://example.com">

        <label for="organizer_email_${organizerCount}">{{ _('Sähköpostiosoite') }}</label>
        <input type="email" id="organizer_email_${organizerCount}" name="organizer_email_${organizerCount}" placeholder="sähköposti@example.com">
      </div>
    `;

    container.appendChild(organizerDiv);
  }

  document.getElementById("type").addEventListener("change", function () {
    var marchRouteContainer = document.getElementById("march-route-container");
    if (this.value === "marssi") {
      marchRouteContainer.style.display = "block";
    } else {
      marchRouteContainer.style.display = "none";
    }
  });
</script>

<script src="{{ url_for('static', filename='js/date.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container container-main-content">
  <h1>{{ _('Ilmoita mielenosoituksesta') }}</h1>

  <form
    method="POST"
    action="{{ url_for('submit') }}"
    class="container-form"
    enctype="multipart/form-data"
  >
    <!-- Name -->
    <label for="name" class="required"
      >{{ _('Mielenosoituksen nimi') }}<span class="required-asterisk">*</span></label
    >
    <input
      type="text"
      id="name"
      name="title"
      placeholder="{{ _('Mielenosoituksen nimi') }}"
      required
    />
    
    <!-- Tags -->
    <label for="tags" class="required">{{ _('Tagit (pilkuilla erotettuna)') }}<span class="required-asterisk">*</span></label>
    <input
      type="text"
      id="tags"
      name="tags"
      placeholder="{{ _('esim. ilmasto, tasa-arvo, oikeudet')}}" required
    />


    <label for="description">{{ _('Kuvausteksti') }}</label>
    <div>
      <div>
        <div class="main-container">
          <div
            class="editor-container editor-container_classic-editor editor-container_include-block-toolbar"
            id="editor-container"
          >
            <div class="editor-container__editor">
              <div id="editor"></div>
            </div>
          </div>
        </div>
      </div>
      <script type="importmap">
        {
          "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.2.0/"
          }
        }
      </script>
      <script
        type="module"
        src="{{ url_for('static', filename='js/ck.js') }}"
      ></script>
    </div>
    <input type="hidden" id="description" name="description" />

    <!-- Date --> 
    <!-- #122: Update Date Formatting to ISO 8601 Standard-->

    <label for="date" class="required"
      >{{ _('Päivämäärä (pp.kk.vvvv)') }}<span class="required-asterisk">*</span></label>
    <input
      type="text"
      id="date"
      name="date"
      placeholder="{{ _('pp.kk.vvvv') }}"
      required
    />

    <!-- Start and End Time -->
    <label for="start_time" class="required"
      >{{ _('Alkamisaika') }}<span class="required-asterisk">*</span></label
    >
    <input type="time" id="start_time" name="start_time" required />
    <label for="end_time">{{ _('Päättymisaika') }}</label>
    <input type="time" id="end_time" name="end_time" />

    <!-- Image Upload -->
    <label for="image">{{ _('Kuva (valinnainen)') }}</label>
    <input type="file" id="image" name="image" accept="image/*" />

    <!-- Additional Information -->
    <label for="facebook">{{ _('Facebook-tapahtumalinkki (valinnainen)') }}</label>
    <input
      type="url"
      id="facebook"
      name="facebook"
      placeholder="https://facebook.com/event"
    />

    <!-- Organizers -->
    <label for="organizers" class="required"
      >{{ _('Järjestäjä(t)') }}<span class="required-asterisk">*</span></label
    >
    <div id="organizers-container"></div>
    <button type="button" class="add-organizer-button" onclick="addOrganizer()">
      {{ _('Lisää järjestäjä') }}
    </button>

    <!-- Location Type -->
    <label for="type" class="required"
      >{{ _('Mielenosoituksen tyyppi') }}<span class="required-asterisk">*</span></label
    >
    <select id="type" name="type" required>
      <option value="" disabled selected>
        {{ _('Valitse mielenosoituksen tyyppi') }}
      </option>
      <option value="paikallaan">{{ _('Paikallaan') }}</option>
      <option value="marssi">{{ _('Marssi') }}</option>
      <option value="muut">{{ _('Muut') }}</option>
    </select>

    <div id="march-route-container" class="optional-section">
      <label for="route">{{ _('Reitti (vain marssille, valinnainen)') }}</label>
      <textarea id="route" name="route" placeholder="{{ _('Reitti...') }}"></textarea>
    </div>

    <!-- Include Paikkakunta Dropdown -->
    {% include "paikkakunta-dropdown.html" %}

    <label for="address" class="required"
      >{{ _('Katuosoite') }}<span class="required-asterisk">*</span></label
    >
    <input
      type="text"
      id="address"
      name="address"
      placeholder="{{ _('Katuosoite') }}"
      required
    />

    <button id="submit" type="submit" class="submit-button">{{ _('Lähetä') }}</button>
  </form>
</div>
{% endblock %}
