/* Remove Button Styles */
.btn-danger {
    background: var(--error-color); /* Bootstrap danger color */
    border-color: var(--red-dark); /* Bootstrap danger border color */
    color: white; /* Text color for better contrast */
}

.btn-danger:hover {
    background: var(--red-darker); /* Darker shade for hover effect */
    border-color: var(--red-dark); /* Darker border color on hover */
    color: white; /* Text color remains white */
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 87, 0.5); /* Focus shadow effect */
}

.btn-sm {
    font-size: 0.875rem; /* Smaller font size */
    padding: 0.25rem 0.5rem; /* Smaller padding */
}

.mt-2 {
    margin-top: 0.5rem; /* Top margin */
}

.organizer-item {
	position: relative;
	padding-bottom: 1rem;
	display: grid;
	flex-direction: column;
	/* gap: 5p; */
	background: var(--background-light);
	padding: 2%;
	border-radius: 5px;
	/* margin-top: ; */
}

.organizer-item .btn-danger {
    /*position: relative; /* Absolute positioning within the container */
    top: 1rem; /* Distance from the top */
    right: 0; /* Align to the right edge */
}

.organizer-item .form-control {
	margin-bottom: 10px;
}

.form-group {
    margin-bottom: 5px;
}