{% extends 'admin_base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_org_control.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_actions_cell.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_actions_cell_btns.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .search-form {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    .search-input, .filter-select {
        padding: 0.75rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        flex: 1;
        min-width: 150px;
        max-width: 300px;
        transition: border-color 0.3s ease;
    }

    .search-input:focus, .filter-select:focus {
        border-color: #007bff;
        outline: none;
    }

    .search-button {
        background: #28a745;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
        font-weight: bold;
        display: flex;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .search-button:hover {
        background: #218838;
    }

    .no-orgs {
        color: #721c24;
        font-weight: bold;
        background: #f8d7da;
        padding: 20px;
        border: 1px dashed #f5c6cb;
        border-radius: 5px;
        text-align: center;
        margin: 1rem 0;
    }

    @media (max-width: 768px) {
        .search-form {
            flex-direction: column;
            align-items: flex-start;
        }
        .search-input, .filter-select, .search-button {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
</style>
{% endblock %}

{% block main_content %}

<div class="table-container">

    <h2 id="tabletitle">{{ _('Organisaatiot') }}</h2>

    <div class="flex justify-center mb-4">
        <a href="{{ url_for('admin_org.create_organization') }}" class="button create-org-button"><i class="fas fa-plus"></i>{{ _('Luo uusi organisaatio') }}</a>
    </div>

    <form method="GET" class="search-form" action="{{ url_for('admin_org.organization_control') }}">
        <label for="search" class="sr-only">{{ _('Hae organisaatioita:') }}</label>
        <input type="text" id="search" name="search" class="search-input" placeholder="{{ _('Hae organisaatioita...') }}" value="{{ search_query }}" aria-label="{{ _('Hae organisaatioita') }}">

        <button type="submit" class="search-button"><i class="fas fa-search"></i>{{ _('Hae') }}</button>
    </form>

    {% if organizations %}
    <div class="table-container" style="background: none;">
        <table>
            <thead>
                <tr>
                    <th>{{ _('Nimi') }}</th>
                    <th>{{ _('Kuvaus') }}</th>
                    <th>{{ _('Sähköpostiosoite') }}</th>
                    <th>{{ _('Verkkosivu') }}</th>
                    <th class="actions-cell-header">{{ _('Toiminnot') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for org in organizations %}
                <tr>
                    <td>{{ org.name }}</td>
                    <td>{{ org.description }}</td>
                    <td>{{ org.email }}</td>
                    <td><a href="{{ org.website }}" target="_blank" class="link">{{ org.website }}</a></td>
                    <td class="actions-cell">
                        <a href="{{ url_for('admin_org.edit_organization', org_id=org._id) }}" class="button edit-button"><i class="fas fa-edit"></i>{{ _('Muokkaa') }}</a>
                        <a href="{{ url_for('admin_org.confirm_delete_organization', org_id=org._id) }}" class="button delete-button"><i class="fas fa-trash"></i>{{ _('Poista') }}</a>
                        <a href="{{ url_for('admin_org.view_organization', org_id=org._id )}}" class="button view-button"><i class="fa-solid fa-eye"></i>{{ _('Katsele') }}</a>
                        <a href="{{ url_for('org', org_id=org._id )}}" class="button view-button"><i class="fa-solid fa-eye"></i>{{ _('Esikatsele') }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="no-orgs">
        <p>{{ _('Organisaatioita ei löytynyt.') }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block extra_buttons %}
<div class="extra-buttons">
    <a href="{{ url_for('admin_org.invite_to_organization') }}" class="button invite-button"><i class="fas fa-user-plus"></i>{{ _('Kutsu henkilö') }}</a>
    <a href="{{ url_for('admin_org.manage_roles') }}" class="button manage-roles-button"><i class="fas fa-user-cog"></i>{{ _('Hallitse rooleja') }}</a>
</div>
{% endblock %}
</div>