<!--
{#
Usage:
To use the invite_modal macro in other templates, you need to import the macros file and call the macro with the required organization parameter.

1. Import the macros file at the top of your template:
{% import 'admin/organizations/macros.html' as org_macros %}

2. Call the invite_modal macro where you want to display the invite modal:
{{ org_macros.invite_modal(organization) }}

Parameters:
- organization: The organization object containing the details of the organization. It should have an _id attribute.

Example:
{% import 'admin/organizations/macros.html' as org_macros %}
...
{{ org_macros.invite_modal(organization) }}
 #}
-->

{% macro invite_modal(organization) %}
<div id="inviteModal" class="modal">
    <div class="modal-header">
        <h2>{{ _('Kutsu käyttäjiä') }}</h2>
        <span class="close" data-close-button>&times;</span>
    </div>
    <div class="modal-body">
        <form method="POST"
            action="{{ url_for('admin_org.invite', org_id=organization._id if organization else None) }}">
            <div class="form-group">
                <label for="invitee_email">{{ _('Kutsuttavan sähköpostiosoite') }} <span
                        class="required">*</span></label>
                <input type="email" id="invitee_email" name="invitee_email" class="form-control" required>
            </div>
            <input type="hidden" id="organization_id" name="organization_id" value="{{ organization._id }}">
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">{{ _('Lähetä kutsu') }}</button>
        </form>
    </div>
</div>
<div id="overlay" class="modal-overlay"></div>
{% endmacro %}