{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

<!-- Container only for the welcome message and description -->
<div class="container-welcome container-centered">
    <h2>Tervetuloa Mielenosoitukset.fi:hin</h2>
    <p>Mielenosoitukset.fi tarjoaa ajankohtaiset tiedot mielenosoituksista ympäri Suomen. <br> Pyrimme tekemään osallistumisesta mielenosoituksiin mahdollisimman vaivatonta ja sujuvaa.</p>
    <div class="buttons-div">
        <a class="button button-primary" href="{{ url_for('info') }}">Lue lisää</a>
        <a class="button button-primary" href="{{ url_for('submit') }}">Ilmoita mielenosoituksesta</a>
    </div>
</div>

<!-- Search Form -->
<form action="{{ url_for('index') }}" method="GET" class="container-form">
    <input type="text" name="search" placeholder="Hae mielenosoituksia...">
    <button type="submit">Hae</button>
</form>

<!-- Featured Demonstrations Section -->
<h2>Esitellyt mielenosoitukset</h2>
<ul class="demonstrations-list">
    {% if demonstrations %}
    {% for demo in demonstrations[:5] %} <!-- Limiting to 5 demonstrations -->
    <li>
        <a href="{{ url_for('demonstration_detail', demo_id=demo['_id']) }}">{{ demo['title'] }}</a><br>
        <small>
            {{ demo['date'] }} | {{ demo['start_time'] }} - {{ demo['end_time'] }}<br>
            Aihe: {{ demo['topic'] }}<br>
            Sijainti: {{ demo['address'] }}, {{ demo['city'] }}
        </small>
    </li>
    {% endfor %}
    {% else %}
    <li>Ei mielenosoituksia näytettäväksi.</li>
    {% endif %}
</ul>
{% endblock %}
