<link rel="stylesheet" href="{{ url_for('static', filename='css/toolbox.css') }}">
{% if organization %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/modal.css') }}">
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endif %}


{% import 'admin/organizations/macros.html' as org_macros %}

<div id="demo-toolbox" class="toolbox">
    <div class="toolbox-header">
        <h3>{{ _('Työkalupakki') }}</h3>
    </div>

    <div id="toolbox-buttons" class="toolbox-buttons">
        <demo-toolbar-buttons>
            {% if demo %}
            <!-- Approve Button -->
            {% if not demo.approved and current_user.has_permission("ACCEPT_DEMO") %}
            <button class="button accept-button" onclick="acceptDemo('{{ demo['_id'] }}')">
                <i class="fa-solid fa-check"></i> {{ _('Hyväksy') }}
            </button>

            <!-- Reject Button -->
            <button class="button reject-button" onclick="rejectDemo('{{ demo['_id'] }}')">
                <i class="fa-solid fa-times"></i> {{ _('Hylkää') }}
            </button>
            {% endif %}

            <!-- Edit Button -->
            {% if current_user.has_permission("EDIT_DEMO") %}
            <a href="{{ url_for('admin_demo.edit_demo', demo_id=demo['_id']) }}" class="button edit-button">
                <i class="fas fa-edit"></i> {{ _('Muokkaa') }}
            </a>
            {% endif %}

            <!-- View Button -->
            {% if current_user.has_permission("VIEW_DEMO") %}
            <a href="{{ url_for('demonstration_detail', demo_id=demo['_id']) }}" class="button view-button">
                <i class="fa-solid fa-eye"></i> {{ _('Katsele') }}
            </a>
            <!-- extra info button -->
            <button class="button view-button" onclick="fetchDemoInfo('{{ demo['_id'] }}')">
                <i class="fa-solid fa-info"></i> {{ _('Lisätietoja') }}
            </button>
            {% endif %}

            <a href="{{ url_for('preview', demo_id=demo['_id']) }}" class="button preview-button">
                <i class="fas fa-image"></i> {{ _('Mainoskuvan luontityökalu') }}
            </a>

            <!-- Delete Button -->
            {% if current_user.has_permission("DELETE_DEMO") %}
            <button class="button delete-button" onclick="openModal(event, '{{ demo.title }}', '{{ demo['_id'] }}')">
                <i class="fas fa-trash-alt"></i> {{ _('Poista') }}
            </button>
            {% endif %}

            <!-- Stats Button -->
            {% if current_user.has_permission("VIEW_ANALYTICS") %}
            <a href="{{ url_for('admin.stats') }}" class="button stats-button">
                <i class="fas fa-chart-line"></i> {{ _('Tilastot') }}
            </a>

            <div id="stats-content">
                <!-- Stats will be injected here by JavaScript -->
            </div>
            {% endif %}

            {% endif %}

        </demo-toolbar-buttons>
        <org-toolbar-buttons>
            {% if org %}
            <!-- Edit Button -->
            {% if current_user.has_permission("EDIT_ORGANIZATION") %}
            <a href="{{ url_for('admin_org.edit_organization', org_id=org['_id']) }}" class="button edit-button">
                <i class="fas fa-edit"></i> {{ _('Muokkaa') }}
            </a>
            {% endif %}

            <!-- View Button -->
            {% if current_user.has_permission("VIEW_ORGANIZATION") %}
            <a href="{{ url_for('org', org_id=org['_id']) }}" class="button view-button">
                <i class="fa-solid fa-eye"></i> {{ _('Katsele') }}
            </a>
            {% endif %}

            <!-- Delete Button -->
            {% if current_user.has_permission("DELETE_ORGANIZATION") %}
            <button class="button delete-button" onclick="openModal(event, '{{ org.name }}', '{{ org['_id'] }}')">
                <i class="fas fa-trash-alt"></i> {{ _('Poista') }}
            </button>
            {% endif %}

            <!-- invite users -->
            {% if current_user.has_permission("INVITE_TO_ORGANIZATION") %}
            <button class="button invite-button" data-modal-target="#inviteModal">
                <i class="fas fa-user-plus"></i> {{ _('Kutsu käyttäjiä') }}
            </button>

            {{ org_macros.invite_modal(org) }}

            {% endif %}


            <!-- if current user is member of -->
            {% if current_user.has_permission("VIEW_ORGANIZATION") %}
            <button class="button leave-button" onclick="leaveOrganization('{{ org['_id'] }}')">
                <i class="fas fa-sign-out-alt"></i> {{ _('Poistu<br>organisaatiosta') }}
            </button>
            {% endif %}

            {% endif %}
        </org-toolbar-buttons>
    </div>



    <!-- DO NOT REMOVE BELOW -->
    <div class="toolbox-footer">
        <button id="toolbar-toggle" class="button toggle-toolbox" onclick="toggleToolbox()">
            <i class="fa-solid fa-toolbox"></i>
        </button>
    </div>
    <!-- DO NOT REMOVE ABOVE -->
</div>

{% if demo %}
<script>

    function get_demo_stats(demoId) {
        fetch(`/api/demo/${demoId}/stats`)
            .then((response) => response.json())
            .then((data) => {
                const statsContent = document.getElementById("stats-content");
                statsContent.innerHTML = `
                    <p><strong><i class="fa-solid fa-eye"></i> {{ _('Näyttökerrat:') }}</strong> ${data.views}</p>
                    <p><strong>{{ _('Osallistujat:') }}</strong> ${data.participants}</p>
                `;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    document.addEventListener("DOMContentLoaded", () => {
        document.getElementsByTagName("demo-toolbar-buttons")[0].classList.add("display");
        get_demo_stats("{{ demo['_id'] }}");

    });
</script>
{% elif org %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementsByTagName("org-toolbar-buttons")[0].classList.add("display");
    });
</script>
{% else %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("demo-toolbox").style.display = "none";
    });
</script>
{% endif %}